@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(0, 0, 0)
  --foreground: rgba(255, 255, 255);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-synthesis: none;

}
